<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>
    <h1>Horario</h1>

    <form action="/horarioEspecifico" method="post">
        <input name="nombre" type="text" placeholder="Introduce el aula deseada>">
        <button>Buscar</button>
    </form>

    <table>

        <tr>
            <td>Materia</td>
            <td>Aula</td>
            <td>Dia</td>
            <td>Sesion</td>
            <td>horaInicio</td>
            <td>horaFin</td>
        </tr>

        <tr th:each="sesion:${list}">

            <td th:text="${sesion.materia}"></td>
            <td th:text="${sesion.aula}"></td>
            <td th:text="${sesion.dia}"></td>
            <td th:text="${sesion.sesion}"></td>
            <td th:text="${sesion.horaInicio}"></td>
            <td th:text="${sesion.horaFin}"></td>
        </tr>

    </table>

</body>
</html>