<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>

    <h1> <span th:text="${nombre}"></span></h1>
    <table border="2">
        <tr border="">
            <th>Aula</th>
            <th>Materia</th>
            <th>Sesion</th>
            <th>Día</th>
            <th>HoraInicio</th>
            <th>HoraFin</th>
        </tr>
        <tr th:each="materia : ${horarioEspecifico}">
            <td th:text="${materia.nombre}"></td>
            <td th:text="${materia.materia}"></td>
            <td th:text="${materia.id}"></td>
            <td th:text="${materia.dia}"></td>
            <td th:text="${materia.horaInicio}"></td>
            <td th:text="${materia.horaFin}"></td>
        </tr>
</table>
</body>
</html>