<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>

    <h1> <span th:text="${nombre}"></span></h1>
    <table border="5">
        <tr>
            <th></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        <tr th:each="materia : ${horarioEspecifico}">
            <td th:text="${materia.horaInicio + ' - ' + materia.horaFin}"></td>
            <td th:if="${materia.dia == 'Lunes'}"><span th:text="${materia.materia}"></span></td>
            <td th:if="${materia.dia == 'Martes'}"><span th:text="${materia.materia}"></span></td>
            <td th:if="${materia.dia == 'Miércoles'}"><span th:text="${materia.materia}"></span></td>
            <td th:if="${materia.dia == 'Jueves'}"><span th:text="${materia.materia}"></span></td>
            <td th:if="${materia.dia == 'Viernes'}"><span th:text="${materia.materia}"></span></td>
        </tr>
    </table>
</body>
</html>